<footer class="footer">
<div class="wrapper">
&copy; {{ site.time | date: '%Y' }} {{ site.authorname }}
</div>
<span><a href="/terms-of-use/">Terms Of Use</a></span>
<span>|</span>
<span><a href="/terms-of-use/">Privacy Policy</a></span>
<div>
<span>
    <span style="padding:20px;">
        <p
        style="display:block;margin-left:auto;margin-right:auto;width:500px;font-size:12px;"> 
  The <a href="http://www.openfoam.com/legal/trademark-policy.php">
      trade mark of the OPENFOAM</a> 
  name is held by <a href="http://openfoam.com/">ESI-OpenCFD</a>. 
  At the moment, this offering
  is not approved or endorsed by OpenCFD Limited, producer and distributor of the OpenFOAM
  software and owner of the OPENFOAM® and OpenCFD® trade marks. 
  </p>
  </span>     
</span>
</div>
</footer>

<script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$']]}});</script>
<script src="{{ "/js/easybook.js" | prepend: site.baseurl }}"></script>
