<header class="header-site" role="banner">
    <div class="content">

        <div class="person">
            <img alt="FOAMScience Logo" src="{{site.profile_picture}}">
        </div>

        <h1>
            <span class="site-title" style="font-size:12px;">[{{site.username}}]</span>
        </h1>

        <div class="icons-home">
            <a aria-label="Send email" title="Send me a e-mail" href="mailto:{{site.email}}">
                <svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg>
            </a>

            <a aria-label="My Twitter" title="Follow me on Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}">
                <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
            </a>


            <a aria-label="My Github" title="FoamScience projects" target="_blank" href="https://github.com/{{site.github_username}}">
                <svg class="icon icon-github-alt"><use xlink:href="#icon-github-alt"></use></svg>
            </a>

            <a aria-label="My LinkedIn" title="FoamScience linkedin profile" target="_blank" href="https://www.linkedin.com/in/{{site.linkedin_public_url}}">
                <svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
            </a>

            <a aria-label="Use the RSS to get updated" title="Register for my RSS" target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl }}">
                <svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg>
            </a>
        </div>


        <ul class="recent">
        <p style="font-family:Imprima;"> Use SPACE for navigation </p>
            <p style="font-family:Imprima;">Recent posts:</p>
             {% for post in site.posts limit:4%}
                <li>
                    <a title="{{ post.title}}" href="{{ post.url | prepend: site.baseurl }}">
                        <h2 class="post-title" style="font-size:14px;" itemprop="name">{{ post.title }}</h2>
                    </a>
                </li>
              {% endfor %}
        </ul>

    </div>
    {% include menu-search.html %}
</header>
