<!DOCTYPE html>
<html>

  {% include head.html %}

  <body styke="visibility: hidden !important;">
      <div id="babasbmsgx" style="padding:5px;visibility: visible !important;">Please disable your adblock and script blockers to view this page</div>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="col-main">
          {{ content }}
        </div>
        <div class="col-second">
          {% include sidebar.html %}
        </div>
      </div>
    </div>

    {% include footer.html %}
    {% include fightadblocker.html %}

  </body>

</html>
